/*body { background: #F2F4F4 !important; }*/
body { background: #EBEDEF !important; }
/*body { background: #D5D8DC !important; }*/

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-top-buffer { margin-top:20px; }
.App-row-bottom-margin { margin-bottom:20px; }
.App-no-glow { box-shadow: none }

.Appbody-list-enter {
  opacity: 0.01;
}

.Appbody-list-enter.Appbody-list-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.Appbody-list-leave {
  opacity: 1;
}

.Appbody-list-leave.Appbody-list-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.Appbody-view-count {
  opacity: 0.01;
}

.Appbody-view-count.Appbody-view-count-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.Appbody-view-count-leave {
  opacity: 1;
}

.Appbody-view-count-leave.Appbody-view-count-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

/*.App-click-update {*/
/*  animation: bounce 1s;*/
/*}*/

/*@keyframes bounce {*/
/*  from {opacity: 0.01}*/
/*  to {opacity: 1}*/
/*} */